@keyframes game-over {
  0% {
      filter: blur(10px);
  }
  100% {
      filter: blur(0px);
  }
}

@keyframes game-over-container {
  0% {
      filter: blur(0px);
  }
  100% {
      filter: blur(2px);
  }
}